<form action="/User/Register" method="post">
    <div class="mb-3">
        <label class="form-label small fw-bold text-secondary">Adınız</label>
        <input type="text" name="fname" class="form-control rounded-3" required>
    </div>

    <div class="mb-3">
        <label class="form-label small fw-bold text-secondary">Soyadınız</label>
        <input type="text" name="lname" class="form-control rounded-3" required>
    </div>

    <div class="mb-3">
        <label class="form-label small fw-bold text-secondary">E-posta Adresi</label>
        <input type="email" name="email" class="form-control rounded-3" placeholder="ornek@email.com" required>
    </div>

    <div class="mb-3">
        <label class="form-label small fw-bold text-secondary">Şifre</label>
        <input type="password" name="password" class="form-control rounded-3" required>
    </div>

    <div class="mb-4">
        <label class="form-label small fw-bold text-secondary">Telefon Numarası</label>
        <input type="tel" name="phone" class="form-control rounded-3" placeholder="+90 555..." required>
    </div>

    <button type="submit" class="btn btn-primary w-100 rounded-pill py-2 shadow-sm fw-bold">Kaydı Tamamla & İlan Eklemeye Geç</button>
</form>