@{
    ViewData["Title"] = "Gizlilik Sözleşmemiz";
}
<h1>@ViewData["Title"]</h1>

<p>Buraya kimse kendi isteğiyle tıklamaz ama merak etmeyin. 
    Verileriniz güvenle saklanacak tutulucak ve şirket 
    dışı hiçbir kişi, kurum veya kuruluşla paylaşılmayacaktır.</p>
